.imya {
	font-size: 30px;
	text-align: center;
}

.nikto {
	font-size: 20px;
	text-align: center;
}

.par1 {
	font-size: 15px;
	text-align: left;
	margin-left: 30px;
}

.navik {
	font-size: 15px;
	text-align: left;
	margin-left: 50px;
}

li {
	font-size: 15px;
	text-align: left;
	margin-left: 30px;
}